/* Common */
ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container-fluid, .container, .row {
    height: 100%;
}
body {
    font-family: Arial, sans-serif;
}
/* Header */
header {
    font-family: Helvetica, arial, sans-serif;
}


img {
    max-width: 100%;
}
/* Header Top Section */
.headertop {
    background-color: black;
    height: 30px;
}

.htlogo {
    text-align: right;
    width: 100%;
    vertical-align: sub;
    display: inline-block;
    padding-right: 0.5rem;
}

.headertop img {
    width: 100px
}

/* Header Bottom Section */
.navcontent {
    padding-left: 1rem;
    height: 60px;
}

.chevron {
    width: 16px;
    height: 15px;
}

.headerbottom li {
    padding-right: 0.4rem;
}

.navcontent .row,.hbleftside, .hbrightside {
    height: 100%;
}
.dnpbtn {
    padding:10px 12px;
    background-color: #363636;
    color: white;
    border-radius: 24px 24px 24px 24px
}
.lens {
    width: 50px;
    height: 20px;
}

.hbmenu i{
    vertical-align: super;
}
/* Fine Header */

/* Main */
/*Section Returnal */
.returnal {
    background-image: url(../img/jumbo-bg.png);
    background-repeat: no-repeat;
    /* debug */
    color: white;
    height: 700px;
    width: 100%;
    background-position-x: 50%;
}

.bgimg {
    display: flex;
    align-items: end;
    height: 50%;
}

.returnal img {
    width: 60%; 
}

.text {
    height: 50%;
    padding-bottom: 2rem;
 } 
 
.bgtxt {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.returnal h2 {
    padding-bottom: 2rem;
    font-size: 3rem;
}

.bgred {
   background-color: #cd3d0f;
}

/* Sezione PS5 */
/* Card Section */

/* .mscard {
    width: 250px;
    height: 150px;
} */


.mscard img {
    height: 100%;
    border-radius: 12px;
}
.PS5 {
    margin-top: 5rem;
    margin-bottom: 5rem;
}


.nolimits {
    margin-top: 5rem;
}

.playlimits {
    text-align: center;
}

.playlimits h5 {
    color: #0c78d0;

}

.bggrey {
    background-color: #2d64e6;
}

/* Section - It Takes two */

.ittakestwo {
    background-image: url(../img/it-takes-two-hero-banner-desktop.jpg);
    height: 700px;
    width: 100%;
    background-repeat: no-repeat;
    background-position-x: 50%;
    color: white;
}
.subtext {
    text-align: left;
}
.ittakestwo img{
    max-width: 70%;
}

/* Section - Nuove uscite */
.nuove.uscite {
    margin-top: 3rem;
    margin-bottom: 4rem;
    background-color: #1f1f1f;
    color: white;
}

@media only screen and (min-width: 768px) {
    .mscard {
        width: 120px;
        height: 120px;
    }

}

@media only screen and (min-width: 992px) {
    .bgtxt {
        width: 40%;
    }



    .mscard {
        width: 140px;
        height: 100px;
        text-align: center;
    }

    .centratolg {
        display: flex;
        align-items: center;
    }
    
}
  
@media only screen and (min-width: 1200px) {
    .mscard {
        width: 170px;
        height: 120px;
    }
    
}

@media only screen and (min-width: 1400px) {
    .mscard {
        width: 200px;
        height: 120px;  
    }
    

}